<img class="keyboardBG w-100 h-100"
    src="https://firebasestorage.googleapis.com/v0/b/portfoliocontact-5aed8.appspot.com/o/Progress%2FBackground.png?alt=media&token=68ad2474-8097-4012-8eb3-d516da03a9aa">
<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <img class="wave"
            src="https://firebasestorage.googleapis.com/v0/b/portfoliocontact-5aed8.appspot.com/o/Introduction%2FWave.png?alt=media&token=6f5c1124-6287-4c50-b294-90b422113a48"
            alt="Wave">
    </div>
    <div class="introduction mb-5">
        <div class="col-12 d-xl-flex">
            <div class="col-12 col-xl-6 mb-5 mb-xl-0">
                <div class="wiinsBG w-100 h-100 px-5">
                    <img class="w-100 h-100"
                        src="https://firebasestorage.googleapis.com/v0/b/portfoliocontact-5aed8.appspot.com/o/Progress%2FFullstack.jfif?alt=media&token=a80ccb47-e0a2-4bc8-8b92-ceca67a2fa66"
                        alt="Wiin's">
                </div>
            </div>
            <div class="storie col-12 col-xl-6 px-5 px-xl-0 pe-xl-5">
                <h3 class="mb-2">Fullstack Developer</h3>
                <p class="mb-4">Versatile and self-taught, my main goal is to become a fullstack developer. I am ready
                    to work abroad to expand my skills in the field.After mastering the Angular framework, I want to
                    turn to the React programming language which I think would offer me more viability and competence.
                </p>
            </div>
        </div>
        <!-- Loading -->
        <mat-progress-spinner class="loading" [mode]="'indeterminate'" *ngIf="loading$ | async">
        </mat-progress-spinner>
    </div>
</div>