*,*:before,*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:not(img) {
    z-index: 10;
}

// Background
img.keyboardBG {
    position: absolute;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
    filter: blur(2px)
}

// Main Page
img.wave {
    position: relative;
}

@media screen and (max-width: 768px) {
    img.wave {
        margin-top: 17em;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    img.wave {
        margin-top: 1em;
    }
}

// Introduction
.wiinsBG img {
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.storie {
    position: relative;
}

.storie p:nth-of-type(1), .storie p:nth-of-type(2) {
    text-align: justify;
}

.storie a {
    text-decoration: none;
}

@media screen and (min-width: 1201px) {
    .storie .socialIcon {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}



.storie .socialIcon a {
    color: #000;
}

.socialIcon .behance .bi-behance {transition: all 0.2s;}
.socialIcon .behance:hover .bi-behance {
    color: #fff;
    background-color: #0057ff;
    border-radius: 5px;
}

.socialIcon .linkedin .bi-linkedin {transition: all 0.2s;}
.socialIcon .linkedin:hover .bi-linkedin {
    color: #fff;
    background-color: #0a66c2;
}

.socialIcon .github .bi-github {transition: all 0.2s;}
.socialIcon .github:hover .bi-github {
    color: rgb(66, 66, 66);
    border-radius: 50%;
}